.intro {
	
	font-family: 'Open Sans Condensed',sans-serif;


	.row {	width: 1000px;
	      	margin-left: auto;
        	margin-right: auto;
        }

    .intro-left {float: left; width: 700px;}
    .intro-right {float: right; width: 200px; margin-top: 40px;}    
}