.theme {
    height: 370px;
    padding-top: 10px;
    margin: 25px;


    .row {
        width: 910px;
        padding-left: 5px;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;

        p {

            font-family: Georgia,"Times New Roman",Times,serif;
            font-style: italic;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        -webkit-padding-start: 0;
        li {
            float: left;
            margin-right:20px;
        }
    }


}

.mini {
    
    height: 260px; 

    .tagline {
        font-family: Georgia,"Times New Roman",Times,serif;
        font-style: italic;
        font-size: 16px;
        font-weight: normal;
    }



}

