<div class ="footer">
    <span class="tags">
        <h1>Explore more Zeegas...  <br>
            <a class="tag-link" data-bypass="true" href="<%=path %>tags/bestof" >#bestof</a>
            <a class="tag-link" data-bypass="true" href="<%=path %>tags/stories" >#stories</a>
            <a class="tag-link" data-bypass="true" href="<%=path %>tags/funny" >#funny</a>
            <a class="tag-link" data-bypass="true" href="<%=path %>tags/music" >#music</a>
        </h1>
    </span>
    <span class ="join">
        <h1>
            <a href="<%=path %>/register">Join Zeega</a>
        </h1>
    </span>   
  </div>