<div class="row">       
        <div class="span6">
            <div class="branding"
                <a href="/"><img src="assets/img/zeega-logo.png" alt="zeega-logo" width="134" height="43"></a>
                <div class="strapline">
              Remake the Internet
                </div>
            </div>
    </div>
    
    <div class="span8">
        <div class="navigation">    
            <div class="">
                <a href="http://blog.zeega.com/about">About </a> |      
                <a href="http://zeega.com/team">Team </a> |      
                <a href="http://blog.zeega.com" target="_blank">News</a> | 
                <a href="/register">Sign Up</a> |
                <a href="/login">Login</a>
            </div>
        </div>
    </div>

</div>              
